body{
	font-family: 'Cairo';
}
/* Start Upper Bar*/ 
.upper-bar{
	background-color: #ac2085;
	text-align: right;
	padding: 5px;
}
.upper-bar i{
	margin: 3px;
	color: #ffffff;
}

.nav-bar{
	
	float: right;
}
.color-1{
	color: #72c6ec;
}
.color-2{
	background-color: #f7911e;
	color: #fff;
	border-radius: 0;
}
.section-2{
	background-color: #f3f8fc;

}
.m{
	margin-top: 50px; 
}

.card-image{
	background-color: #f7911e;
	border-radius: 100%;
	padding: 10px;
}
.img {
	width: 100%;
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
 }
 .check{
	background-color: #f7911e;
	border-radius: 100%;
	padding: 3px;
	color: #fff;
 }
 .sec{
	 background-color: #f7911e;
	 color: #fff;
 }
 .sub{
	 background: #ac2085;
	 height: 100%;
 }
 .mini{
	padding: 30px;
 }
 .sFooter{
	 /* height: 300px; */
	 background-color: #2caae2;
	 color: #fff;
 }
 .footer{
	background: #1a1a1b;
	color: #fff;
 }
 .footer a{
	color: #fff;
 }

 .down-bar{
	 padding: 5px;
 }
 .down-bar i{
	margin: 3px;
}
.nav-item{
	color: black;
}
.hh :hover{
	background-color: #ac2085;
}
/*.nav-bar ul{
	list-style-type: none;

}*/
/* End Upper Bar*/ 